In [2]:
import pandas as pd
d=pd.read_csv("./Sobral/Sobral_infectados_Sem_2007.csv", sep=",")
df = pd.DataFrame(data=d)
print(len(df))

626

In [3]:
def inserir_linha(idx, df, df_inserir):
    dfA = df.iloc[:idx, ]
    dfB = df.iloc[idx:, ]
    df = dfA.append(df_inserir).append(dfB).reset_index(drop = True)
    return df

In [4]:

j=0
n=1
d_ano=0
while n<=626:
    i=1
    j=j+1
    #print(row['Populacao'])
    while i<7:
        d_inserido = d = {'Dia': [i+1]}
        df_inserido = pd.DataFrame(data = d_inserido)
        df = inserir_linha(j, df, df_inserido)

        i=i+1
        j=j+1
    n=n+1
    #print(i,j,n,d_ano)
    
df.to_csv('./Sobral/Sobral_Infectados_Diario.csv')

In [27]:
len(df)
df.dtypes

Dia      int64
y      float64
dtype: object

In [52]:
n=1
for i in range(len(df)):
    if n==1:
        val=df['y']/7
          
    print(val)
    #df['y']=val
    n=n+1
    if n==8:
        n=1

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64
0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4377    NaN
4378    NaN
4379    NaN
4380    NaN
4381    NaN
Name: y, Length: 4382, dtype: float64

In [48]:
df.head(30)

    Dia    y
0     1  0.0
1     2  NaN
2     3  NaN
3     4  NaN
4     5  NaN
5     6  NaN
6     7  NaN
7     1  0.0
8     2  NaN
9     3  NaN
10    4  NaN
11    5  NaN
12    6  NaN
13    7  NaN
14    1  0.0
15    2  NaN
16    3  NaN
17    4  NaN
18    5  NaN
19    6  NaN
20    7  NaN
21    1  0.0
22    2  NaN
23    3  NaN
24    4  NaN
25    5  NaN
26    6  NaN
27    7  NaN
28    1  0.0
29    2  NaN